<!DOCTYPE html>
<html>
<title>MVC-Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menüler</h3>
  <a href="/" class="w3-bar-item w3-button">Ana Sayfa</a>
  <a href="/departman" class="w3-bar-item w3-button">Departmanlar</a>
  <a href="/personel" class="w3-bar-item w3-button">Personeller</a>
  <a href="/hakkimizda" class="w3-bar-item w3-button">Hakkımızda</a>
        <form asp-controller="Login" asp-action="Logout" method="get">
            <a asp-controller="Login" asp-action="Logout" class="w3-bar-item w3-button">Güvenli Çıkış</a>
        </form>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1>Personel & Departman - MVC PROJECT</h1>
</div>

 <div class="container p-5">
  @RenderBody()
 </div>


</div>
      
</body>
</html>
